<?xml version='1.0' encoding='utf-8'?>
<widget id="com.uhtagrad.news" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Новости Ухты</name>

    <description>
    Главные новости Ухты - сайт uhtagrad.ru
    </description>

    	
	<gap:plugin name="org.apache.cordova.device-orientation" source="npm"/>
	<gap:plugin name="org.apache.cordova.dialogs" source="npm"/>
	<gap:plugin name="org.apache.cordova.inappbrowser" source="npm"/>

	<gap:plugin name="cordova-plugin-email-composer" version="0.8.3" source="npm" />
	
    <icon src="res/drawable-xxxhdpi/ic_launcher.png" />
    <platform name="android">
              <icon src="res/drawable-ldpi/ic_launcher.png" density="ldpi" />
              <icon src="res/drawable-hdpi/ic_launcher.png" density="hdpi" />
              <icon src="res/drawable-mdpi/ic_launcher.png" density="mdpi" />
              <icon src="res/drawable-xhdpi/ic_launcher.png" density="xhdpi" />
              <icon src="res/drawable-xxhdpi/ic_launcher.png" density="xxhdpi" />
              <icon src="res/drawable-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
    </platform>

    <preference name="DisallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />
    
    <content src="index.html" />
    <access origin="*" />
</widget>
